
/*Menu*/

.navbar-toggle{
	cursor: pointer;
	float: right;
	background: none;
	border: 0;
	padding: 17px 0;

	&:focus{
		outline: none;
	}

	.fas{
		font-size: 2em;
		color: #fff;
		border: 0;
		box-shadow: none;
	}
}

.navbar-default {

	.navbar-toggle{
  		z-index: 999;
		margin-right: 0;
		border: 0;
		border-radius: 0;
		color: #fff;
		background: none;
		padding: 6px 6px;

		.icon-bar {
			display: block;
			width: 35px;
			height: 4px;
			border-radius: 1px;
			background-color: #212020;
		}

		&:focus, &:hover{
 			background: none;
		}
	}
}

nav h2{
	display: none;
}

.menu-base-theme{
	background: none;

	ul{
		background: none;
	}

	li{

		a{
			font-family: $titleFontFamily;
			color: #fff;
			border-bottom: 1px solid #383737;
			line-height: 100%;
			padding: 20px 16px;

			&:hover, 
			&:focus, 
			&:active, 
			&.highlighted{
				background: none;
				color: $menuTextActiveColor;
				line-height: 100%;
				padding: 20px 16px;
			}

			&.sub-arrow{
				color: #999;
				font-size: 22px;
				padding: 5px;
				border-radius: 2px;
				border: 1px solid #DCDCDC;
				background: #EFEFEF;
			}

			span.sub-arrow{
				line-height: 120%;
				font-size: 2em;
			}
		} 
	}
}

.region-primary-menu{
	display: none;
	width: 100%;
    background: $mobileMenuBg;
    margin-bottom: 15px;
    border-radius: 5px;
}


/*Footer Menu*/

.region-footer-menu{	

	ul{
		margin: 10px 0;
		padding: 0;
	}
	
	nav li{
		display: inline-block;
		a{
			display: block;
			padding: 2px 15px 2px 0;
		}
	}
}


.main-menu{
	width: 100%;
}

.region-top-menu{
	display: none;

	h2.title{
		display: none;
	}

	ul{
		margin: 0;
		padding: 0;
	}
	
	nav li{
		display: inline-block;
		
		a{
			padding: 8px 10px;
			line-height: 100%;
			display: block;
			border-radius: 5px;
			color: #fff;
			border: 2px solid #00a94f;
			margin: 10px 0;
			margin-left: 5px;
		}

		a:hover{
			color: #fff;
			background: #00a94f;
		}

		&:last-child a{
			color: #fff;
			background: #00a94f;
			border-color: #00a94f;
		}
	}
}