
/*Flexslider*/

.hero-banner{
    position: relative;
    overflow: hidden;

	p,h2{
		color: #fff;
	}

	img{
		width: 100%;
        vertical-align: top;
	}

	ul{
		margin: 0;
		padding: 0;
        vertical-align: top;
	}
}

.hero-banner-description{
    display: none;
    position: absolute;
    top: 30%;
    font-size: 1.2em;
    line-height: 150%;

    .slider-title,
    .slider-description{
        width: 40%; 
    }

    .btn{
    	background: #28a745;
    	border-radius:20px;
    }
}

.banner-buttons{
    padding: 10px 0;
    display: block;
    overflow: hidden;

    .more-link{
        color: $baseFontColor;
        border-radius: 3px;
        background: #fff;
        box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.26);
        font-weight: 500;
        padding: .3em .8em;
        font-size: 1.3em;
        display: inline-block;
        display: none;
        margin-right: 10px;

        &:hover{
            background: $linkColor;
            color: #fff;
        }
    }
}