@import "variables-and-mixins";

@media (min-width: 767px) {

  .region-top-menu{
    display: inline-block;
  }

  .path-frontpage{
    .header{
      /*background: none;*/
    }
  }

  .hero-banner-description{
    display: block;
  }

  .hero-banner{
    top: -80px;
    margin-bottom: -80px;
  }

  .copyright{
    text-align: left;

    p{
      margin: 0;
      display: inline-block;
    }

    .credit-link{
      display: block;
      text-align: right;
    }
  }

  .topwidget,
  .screenshot,
  .bottom-widget,
  .path-frontpage .main-content,
  .products,
  .footer,
  .features,
  .price-table,
  .services{
    padding: 100px 15px;
  }

  .navbar-toggle{
    display: none;
  }

  .user-logged-in .main-header{
    position: relative;
  }

  .main-menu{
    width: auto;
  }

  .region-primary-menu{
    display: block !important;
    width: auto;
    margin: 0;
    background: none;
    border-radius: 5px;

    ul{
      border: 0;
      float: right;

      ul{
        background: #fff;
        background: $desktopMenuDropDownBg;
        border-radius:5px;

        li a{
          color: #fff;
          padding: 18px 15px;
        }

        li a:hover,
        li a:focus,
        li a:active,
        li a.highlighted{
          color: $linkColor;
          padding: 18px 15px;
        }

        li{
          border-bottom: 1px solid rgba(255, 255, 255, 0.13);
          a{ 
            color: $desktopMenuTextColor;
          }
        }
      }      
    }

    li{
      border: 0;

      &.active{
        .is-active{
          color: $linkColor;
          
          &:after{
            content: "";
            background: $linkColor;
            height: 2px;
            display: block;
            position: relative;
            top: 8px;
          }
        }
      }

      a{
        background: none;
        border: 0;
        font-weight: 400;
        color: #fff;

        span.sub-arrow {
          padding: 0;
          top: 26px;
          margin-top: 0;
          bottom: 2px;
          right: 2px;
          margin-left: -5px;
          left: auto;
          width: 0;
          height: 0;
          border-width: 4px;
          border-style: solid;
          border-color: #fff transparent transparent transparent;
          font-size: 2em;
          line-height: 100%;
        }
      }

      li{
        span.sub-arrow {
          top: 22px;
          border-color: #0000 #0000 #0000 #fff;
          right: 5px;
        }
      }

    }
  }

  .carousel-caption p,
  .carousel-caption h3{
    display: block;
  }

  .carousel-caption p:last-child{
    margin: 0;
  }

  .carousel-caption{
    background-color: #fff;
    background: rgba(0, 0, 0, 0.84);
    color: #ddd;
    text-shadow: none;
    padding: 20px;
    top: 20%;
    left: 10%;
    bottom: auto;
    width: 30%;
    text-align: left;
  }

  .comment-wrap{

    .author-details{ width: 10%; }

    .author-comments{ width: 90%; }

  }

  .top-menu{

    .top-blocks{
      overflow: hidden;

      .region,
      .social-media { float: left; }
    }

  }

}
